# Neon PostgreSQL connection string (Pooling / Non-pooling URL works)
DATABASE_URL="postgresql://username:password@ep-something.us-east-2.aws.neon.tech/neondb?sslmode=require"
# JWT Secret key for session encryption
JWT_SECRET="aasa-med-chem-super-secret-key-12345"
